<?xml version="1.0"?>
<config>
    <modules>
        <Blog4mail_Customproduct>
            <version>1.0.2</version>
        </Blog4mail_Customproduct>
    </modules>
    <frontend>
        <routers>
            <customproduct>
                <use>standard</use>
                <args>
                    <module>Blog4mail_Customproduct</module>
                    <frontName>customproduct</frontName>
                </args>
            </customproduct>
        </routers>
        <layout>
            <updates>
                <catalog>
                    <file>customproduct_catalog.xml</file>
                </catalog>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <customproduct>
                <class>Blog4mail_Customproduct_Model</class>
                <resourceModel>customproduct_mysql4</resourceModel>
            </customproduct>
            <customproduct_mysql4>
                <class>Blog4mail_Customproduct_Model_Mysql4</class>
                <entities>
                    <customproduct>
                        <table>customproduct</table>
                    </customproduct>
                </entities>
            </customproduct_mysql4>
        </models>
        <resources>
            <customproduct_setup>
                <setup>
                    <module>Blog4mail_Customproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customproduct_setup>
            <customproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customproduct_write>
            <customproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customproduct_read>
        </resources>
        <blocks>
            <customproduct>
                <class>Blog4mail_Customproduct_Block</class>
            </customproduct>
        </blocks>
        <helpers>
            <customproduct>
                <class>Blog4mail_Customproduct_Helper</class>
            </customproduct>
        </helpers>
    </global>
</config>
